<div class="jumbotron">
    <div class="welcome">
        <h5>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h5>
    </div>
    <div>
        Stats Coming soon!
    </div>
</div>
