<div class="jumbotron">
    <% if user_signed_in? %>
        <div class="welcome">
            <h5>Welcome<%= current_user.full_name %></h5>
        </div>
        <div>
            Stats Coming soon!
        </div>
    <% else %>
        <h3>Welcome to the School of Rock</h3>
        <h3>Register or Login to get Rockin!</h3>
    <% end %>
</div>
<div class="activity_feed">
    <h4>Recent Activity</h4>

</div>
