<table summary="Cohort form fields">
    <tr>
        <th>Title</th>
        <td><%= f.text_field :title %></td>
    </tr>
    <tr>
        <th>Start Date</th>
        <td><%= f.text_field :start_date, class: 'datepicker' %></td>
    </tr>
    <tr>
        <th>End Date</th>
        <td><%= f.text_field :end_date, class: 'datepicker' %></td>
    </tr>
    <tr>
        <th>Counselor Id</th>
        <td><%= f.number_field :employee_id %></td>
    </tr>
</table>
