<div class="table-responsive">
    <table summary="Cohort form fields" class="table table-striped jambo_table bulk_action">
        <tr>
            <th>Title</th>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td><%= f.date_field :start_date %></td>
        </tr>
        <tr>
            <th>End Date</th>
            <td><%= f.date_field :end_date %></td>
        </tr>
        <tr>
            <th>Instructor Id</th>
            <td><%= f.number_field :instructor_id %></td>
        </tr>
    </table>
</div>
