<%= link_to("<< Back to List", cohorts_path, :class =>'back-link') %>
<div class="cohorts new">
    <h2>Create Cohort</h2>
    <%= form_for(@cohort) do |f| %>
        
        <%= render(:partial => 'form', :locals => {:f => f}) %>
        
        <div class="form-buttons">
            <%= f.submit("Create Cohort") %>
        </div>
    <% end %>
</div>
