<div class="jumbotron">
    <h3><%= @cohort.title %> Roster</h3>
</div>
<table id class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody id="cohort_roster">
        <%= render @roster %>
    </tbody>
</table>
<% if can? :manage, User %>
    <div class="well">
        <%= link_to "New Student", new_student_path, remote: true, class: "btn btn-primary" %>
    </div>
<% end %>
<%= render 'shared/dialog' %>
