<div class="container">
    <table summary="Cohort roster view">
        <h3>Roster</h3>
        <tr class="headings">
            <th>Students</th>
        </tr>
        <% if @roster != nil %>
        <% @roster.each do |student| %>
            <tr>
                <td><% name ="#{student[:first_name]} #{student[:last_name]}" %></td>
                <td><%= link_to 'X', student, remote: true, :method => :delete, data: {confirm: "Delete Student: #{student.first_name} #{student.last_name}"}, :class => 'btn btn-sm btn-danger' %></td>
            </tr>
        <% end %>
    </table>
</div>
