<div class="jumbotron">
    <h2>Instructors</h2>
</div>
    <div class="well">
        <% if can? :manage, User %>
            <%= link_to "New Instructor", new_instructor_path, remote: true, class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="new-instructor"></div>

    <table id class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Salary</th>
                <th>Age</th>
                <th>Education Level</th>
            </tr>
        </thead>
        <tbody id="instructors">
            <%= render @instructors %>
        </tbody>
    </table>

    <%= render 'dialog' %>
