<div class="row">
    <div class="col s6">
        <div style="padding: 10px;" align="center" class="card">
            <div class="row">
                <div class="left card-title">
                    <b>Employee Management</b>
                </div>
            </div>

            <div class="row">
                <a href="#!">
                    <div style="padding: 10px;" class="col s5 waves-effect">
                        <i class="large material-icons">people</i>
                        <span><h5>Find Employee</h5></span>
                    </div>
                </a>
                <div class="col s1">&nbsp;</div>
                <div class="col s1">&nbsp;</div>
                <a href="#!">
                    <div style="padding: 10px;" class="col s5 waves-effect">
                        <i class="large material-icons">assignment</i>
                        <span><h5>Add Employee</h5></span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div style="padding: 10px;" align="center" class="card">
            <div class="row">
                <div class="left card-title">
                    <b>Students</b>
                </div>
            </div>
            <div class="row">
                <a href="#!">
                    <div style="padding: 10px;" class="green-accent-1 lighten-3 col s5 waves-effect">
                        <i class="large material-icons">people</i>
                        <span><h5>Find Student</h5></span>
                    </div>
                </a>
                <div class="col s1">&nbsp;</div>
                <div class="col s1">&nbsp;</div>
                    <a href="#!">
                        <div style="padding: 10px;"col s5 waves-effect">
                            <i class="large material-icons">assignment</i>
                            <span><h5>Add Student</h5></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div style="padding: 10px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Courses</b>
                    </div>
                </div>

                <div class="row">
                    <a href="#!">
                        <div style="padding: 10px;" class="col s5 waves-effect">
                            <i class="large material-icons">view_list</i>
                            <span><h5>Find Course</h5></span>
                        </div>
                    </a>
                    <div class="col s1">&nbsp;</div>
                    <div class="col s1">&nbsp;</div>
                    <a href="#!">
                        <div style="padding: 10px;" class="col s5 waves-effect">
                            <i class="large material-icons">assignment</i>
                            <span><h5>Add Course</h5></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s6">
            <div style="padding: 10px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Cohorts</b>
                    </div>
                </div>
                <div class="row">
                    <a href="#!">
                        <div style="padding: 10px;" class="col s5 waves-effect">
                            <i class="large material-icons">view_list</i>
                            <span><h5>Find Cohort</h5></span>
                        </div>
                    </a>
                    <div class="col s1">&nbsp;</div>
                    <div class="col s1">&nbsp;</div>
                    <a href="#!">
                      <div style="padding: 10px;" class="col s5 waves-effect">
                        <i class="large material-icons">assignment</i>
                        <span><h5>Add Cohort</h5></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

