<h4>Welcome to Admin Panel</h4>
<h5>You are not currently signed in.</h5>
<h5>If you are a new user:</h4>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>
