<div class="table-responsive">
    <table summary="Course form fields" class="table table-striped table-bordered">
        <tr>
            <th>Title</th>
            <td><%= f.text_field(:title) %></td>
        </tr>
        <tr>
            <th>Hours</th>
            <td><%= f.text_field(:total_hours) %></td>
        </tr>
        <tr>
            <th>Instructor Id</th>
            <td><%= f.text_field(:instructor_id) %></td>
        </tr>
    </table>
</div>
