<table summary="Course form fields">
    <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><%= f.text_field(:description) %></td>
    </tr>
    <tr>
        <th>Hours</th>
        <td><%= f.text_field(:hours) %></td>
    </tr>
    <tr>
        <th>Instructor Id</th>
        <td><%= f.text_field(:employee_id) %></td>
    </tr>
</table>
