<tr id="course_registration_<%= course_registration.id %>">
    <% student = get_student(course_registration.student_id)%>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td>
        <% if can? :manage, User %>
            <%= link_to 'Remove', course_registration, remote: true, :method => :delete, data: {confirm: "Remove Student: #{student.full_name}"}, :class => 'btn btn-sm btn-danger' %>
        <% end %>
    </td>
</tr>
