<div class="table-responsive">
    <table summary="Course_Registration form fields" class="table table-striped table-sm">
        <tr>
            <th>Course Id</th>
            <td><%= f.number_field :course_id %></td>
        </tr>

        <tr>
            <th>Student Id</th>
            <td><%= f.number_field :student_id %></td>
        </tr>
    </table>
</div>
