<<%= link_to("<< Back to List", courses_path, :class =>'back-link') %>
<div class="course_registration edit">
    <h2>Edit Course</h2>
    <%= bootstrap_form_for(@course_registration) do |f| %>

        <%= render(:partial => 'form', :locals => {:f => f}) %>

        <div class="form-buttons">
            <%= f.submit("Update Course Registration") %>
        </div>
    <% end %>
</div>
