<div class="stats index">
    <div class="row">
        <div class="col s3">
            <h3>Total Enrollment</h3>
            <p>76%</p>
        </div>
        <div class="col s3">
            <h3>Enrollment by Cohort</h3>
            <p>insert pie chart here</p>
        </div>
    </div>
    <div class="row">
    </div>
</div>
