<ul class="dropdown-content" id="user_dropdown">
    <li><a class="grey-text" href="#!">Profile</a></li>
    <li><a class="grey-text" href="#!">Logout</a></li>
</ul>

<nav role="navigation">
    <div class="nav-wrapper">
        <a data-target="slide-out" class="sidenav-trigger show-on-medium-and-down" href="#!">
            <i class='material-icons'>menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class='right dropdown-trigger' href='' data-target='user_dropdown'>
                    <i class='material-icons'>account_circle</i>
                </a>
            </li>
        </ul>
        <a href="#" data-target="slide-out" class="button-collapse">
            <i class="mdi-navigation-menu"></i>
        </a>
    </div>
</nav>

<nav>
    <div class="nav-wrapper">
        <a style="margin-left: 20px;" class="breadcrumb" href="#!">Admin</a>
        <a class="breadcrumb" href="#!">Index</a>

        <div style="margin-right: 20px;" id="timestamp" class="right"></div>
    </div>
</nav>

